<%= stylesheet_link_tag 'base' %>
<h1><%=t :'session.title'%></h1>

<div style="margin-left:40px;">
<div style="color:green"><%= flash[:notice] %></div>
<div style="color:red"><%= flash[:error] %></div>
</div>
<% form_tag session_path do -%>

<center>
<table bgcolor="#FFFFEE" border="1" bordercolor="#888" cellspacing="0" cellpadding="5" align="center" style="line-height:1.3;">
<tr>
<td class="header"><b><%= Player.human_attribute_name("login") %></b><td><%= text_field_tag 'login', @login %>
<tr>
<td class="header"><b><%= Player.human_attribute_name("password") %></b><td><%= password_field_tag 'password', nil %>
</table>

<p><%= submit_tag I18n.t('session.login'), :style => 'width:100px; height:40px; font-size:14pt;' %></p>
</center>
<% end -%>
<br>
<hr>
