<h1><%=t :'edit.title'%></h1>
<div style="margin-left:40px;"><%=t :'edit.caption'%></div>
<br>
<% @player.password = @player.password_confirmation = nil %>

<%= error_messages_for :player %>
<% form_for(@player) do |f| %>

<center>
<table bgcolor="#FFFFEE" border="1" bordercolor="#888" cellspacing="0" cellpadding="5" align="center" style="line-height:1.3;">
<tr>
<td class="header"><b><%= Player.human_attribute_name("login") %></b><td><%= h(@player.name) %>
<tr>
<td class="header"><b><%= Player.human_attribute_name("country") %></b><td><%= f.collection_select :country_id, Country.find(:all), :id, :name %>
<tr>
<td class="header"><b><%=t :'edit.location'%></b><td align="left">
<%= f.text_field :city_lat, :size => 10 %> <b><%=t :'edit.latitude'%></b><br>
<%= f.text_field :city_lon, :size => 10 %> <b><%=t :'edit.longitude'%></b><br>
<%= f.text_field :city_name, :size => 16 %> <b><%=t :'edit.name'%></b>
<tr>
<td class="header"><b><%=t :'edit.pr'%></b><td><%= f.text_area :pr, :cols => 32, :rows => 8 %>
<tr>
<td class="header"><b><%= Player.human_attribute_name("email") %></b><td><%= h(@player.email) %>
<tr>
<td class="header"><b><%=t :'edit.password'%></b><td>
<b><%=t :'edit.new'%><%= Player.human_attribute_name("password") %></b><br>
<%= f.password_field :password %><br>
<b><%= Player.human_attribute_name("password_confirmation") %></b><br>
<%= f.password_field :password_confirmation %>
</table>

<p><%= submit_tag I18n.t('edit.update'), :style => 'width:100px; height:40px; font-size:14pt;' %></p>
</center>
<% end -%>
