<h1><%=t :'new.title'%></h1>
<div style="margin-left:40px;"><%=t :'new.caption'%>
<br><br>
<% @player.password = @player.password_confirmation = nil %>

<font color=red><%= error_messages_for :player %></font></div>
<% form_for :player, :url => players_path do |f| -%>
<table bgcolor="#FFFFEE" border="1" bordercolor="#888" cellspacing="0" cellpadding="5" align="center" style="line-height: 1.3;">
<tr>
<td class="header"><b><%=t :'activerecord.attributes.player.login' %></b><td><%= f.text_field :login %>
<tr>
<td class="header"><b><%=t :'activerecord.attributes.player.country' %></b><td><%= f.collection_select :country_id, Country.find(:all), :id, :name, :selected => 109 %>
<tr>
<td class="header"><b><%=t :'new.rank' %></b><td><%= f.select :rate, [[I18n.t('new.ranks')[0],2050],[I18n.t('new.ranks')[1],1925],[I18n.t('new.ranks')[2],1790],[I18n.t('new.ranks')[3],1690],[I18n.t('new.ranks')[4],1590],[I18n.t('new.ranks')[5],1480],[I18n.t('new.ranks')[6],1400],[I18n.t('new.ranks')[7],1340],[I18n.t('new.ranks')[8],1240],[I18n.t('new.ranks')[9],1140],[I18n.t('new.ranks')[10],1040]], :selected => 1590 %>
<font size="-1"><a href="http://81dojo.com/documents/Rating_System" target="_blank">　＞＞<%=t :'new.comparison'%>＜＜</a></font>
<tr>
<td class="header"><b><%=t :'activerecord.attributes.player.email' %></b><td><%= f.text_field :email %>
<tr>
<td class="header"><b><%=t :'activerecord.attributes.player.password' %></b><td><%= f.password_field :password %>
<tr>
<td class="header"><b><%=t :'activerecord.attributes.player.password_confirmation' %></b><td><%= f.password_field :password_confirmation %>
</table>
<br>
<center><%= submit_tag I18n.t('new.submit'), :style => 'width:100px; height:40px; font-size:14pt;' %></center>
<% end -%>
