<center style='font-family:Meiryo UI;'>
<h2><%=t :'activate.hello1' %><%= @player.name %><%=t :'activate.hello2' %></h2>
<br>
<% if @already then %>
<%=t :'activate.already' %>
<% else %>
<%=t :'activate.activated1' %><br><%=t :'activate.activated2' %>
<% end %>
<br><br>
<p style="font-size:20px"><%= link_to I18n.t('activate.top'), 'http://81dojo.com/' + I18n.t('activate.top_extension') %></p>
</center>
